<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12" *ngFor="let item of gymdata; index as i">
                <div class="card  shadow m-2" style="height:300px; width: 100%;">
                    <!-- <img src="assets/galary/gym1.jpg" class="card-img" alt="..."> -->
                    <div class="card-img-overlay">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class=" fw-bold  fs-5 "> {{item.bodyPart}} <br> <span
                                    class="fs-6 ">{{item.Excercise.length}} excercise</span> </h5>
                            <div class="img-div border floa-end"> s<img src="assets/galary/gym1.jpg" alt=""></div>
                        </div>
                        <div class="mt-2 border excercise-div">
                            <ul class="list-group  border-none">
                                <li *ngFor="let excercise of item.Excercise.slice(0, 3)"
                                    class="list-group-item border-none d-flex justify-content-between align-items-center">
                                    {{excercise.excerciseName}}
                                    <span class="badge bg-primary rounded-pill"> {{excercise.sets}} *
                                        {{excercise.reps.length}}</span>
                                </li>

                            </ul>
                        </div>
                        <div class=" w-100 ">
                            <button class="btn btn-primary btn-sm float-end m-2"
                                [routerLink]="['/excercise-Card',item.id]" routerLinkActive="router-link-active"> View
                                all</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>