<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-3 ">
                <div class="card  shadow" style="height:300px; width: 100%;">
                    <!-- <img src="assets/galary/gym1.jpg" class="card-img" alt="..."> -->
                    <div class="card-img-overlay">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class=" fw-bold  fs-5 ">Chest Workout <br> <span class="fs-6 ">5 excercise</span> </h5>
                            <div class="img-div border floa-end"> s<img src="assets/galary/gym1.jpg" alt=""></div>
                        </div>
                        <div class="mt-2 border excercise-div">
                            <ul class="list-group  border-none">
                                <li
                                    class="list-group-item border-none d-flex justify-content-between align-items-center">
                                    excercie name
                                    <span class="badge bg-primary rounded-pill">3 * 12</span>
                                </li>
                                <li
                                    class="list-group-item border-none d-flex justify-content-between align-items-center">
                                    excercie name
                                    <span class="badge bg-primary rounded-pill">3 * 12</span>
                                </li>
                                <li
                                    class="list-group-item border-none d-flex justify-content-between align-items-center">
                                    excercie name
                                    <span class="badge bg-primary rounded-pill">3 * 12</span>
                                </li>
                            </ul>
                        </div>
                        <div class=" w-100 "><button class="btn btn-primary btn-sm float-end m-2">View all</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>