.img-div{
    height: 80px;
    max-height: 80px;
    min-width: 100px;

    // border-radius: 100%/;
    text-align: center;
    overflow: hidden;
    img{
        // max-height: 80px;
        width: 100px;
        // min-width: 100px;
    }
}
.name-div{
min-width: 200px;
max-width: 300px;
}
.sets  .col{
padding: 2px;
text-align: center;
}
.box-div{
    // height: 200px;
    overflow: hidden;
}