<div class="container-fluid img"  style="background-image: url({{bgImage}});background-size: 100% 100%;">
  <div class="row d-flex  justify-content-center"  >
    <div class="container border  shadow">
      <p class="bodyPart text-light">{{bodyPart}}</p> 
      </div>
    <div class=" col-lg-8 col-md-4">

      
      @for (item of excerciseData?.Excercise; track $index) {
      <div class="container-fluid border box-div m-3 shadow">
        <div class="row">
          <div class=" col-md-4 ">
            <div class="img-div m-2 border">
              <img src="assets/excercise/incline-dumbbell-bench-press.jpg" alt="">
            </div>
          </div>
          <div class="col-8 ">
            <div class="name-div border m-2">
              <p class="fs-5"> {{item.excerciseName}}  </p>
              <span>{{excerciseReps[$index].length}} / {{item.reps.length}} done </span>
            </div>
          </div>
        </div>
        @for (reps of item.reps; track i; let i = $index ) 
        {
          <div class="row my-1 sets  border-bottom text-center p-1">
            <div class="col">
              <input (change)="onCheckboxChange($event,$index,item.excerciseName)" type="checkbox" name="{{i}}" id="{{i}}">
            </div>
            <div class="col"> {{i}} </div>
            <div class="col  border rounded"> 30</div>
            <div class="col ">kg</div>
            <div class="col  border rounded"> {{item.reps[i]}} </div>
            <div class="col">Reps</div>
          </div>
        }
      </div>
      }
    </div>

  </div>

</div>